<div>
    <div class="grid-projects">
        <div>
            <p-card header="Admin Panel" subheader="Admin panel for some store">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet...
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="View" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div>
            <p-card header="Chat" subheader="Chat using websockets">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet...
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="View" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div>
            <p-card header="Shop" subheader="Project shop">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet...
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="View" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>